@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 36, 30);
    background-size: cover;
}
.bg1{
    background-color:rgba(209, 180, 255, 0.85);
}
.bg2{
    background-color:rgba(180, 255, 220, 0.85);
}
.design1{
    background-color:rgba(255, 255, 255, 0.90);
    width: 96%;
    mix-blend-mode: hard-light;
    box-shadow: 0 0 2vh #e2e7ff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.designH{
    mix-blend-mode: hard-light;
    box-shadow: 0 0 2vh #9ce3ff;
    background-color:rgba(132, 241, 255, 0.9);
    width: 96%;
    margin-top: 0px;
    margin-bottom: 3vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    padding: 10px;
}
.karada{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    padding: 10px;
    margin-bottom: 10vh;
}
.shu{
    margin-top: 0px;
    font-size: 7vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.center{
    text-align: center;
}
.sett {    
    margin-top: 1vh;
    color: aqua;
    background-color: black;
    height: 20vw;
    font-size: 5vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
.fontt{
    font-size: 6vw;
    text-align: center;
}
.font2{
    font-size: 4vw;
    text-align: center;
}
.ippai{
    width: 100%;

}

.inputt{
    font-size: 30px ;
    width: 30vw;
}
.on {
    opacity: 1;
}

.off {
    opacity: 0;
    display: none;
}
.margi{
    height:1vh;
    width:100%;
}